<h1>Demo#index</h1>
<p>Find me in app/views/demo/index.html.erb</p>
<%= Time.new %>
<br>
<br>
<% hasil = 10 + 20 %> 
    <%= hasil %> #jadi fungsi <%= ini adalah menampilkan kalo yang <% ini dia sebatas program yang belum bisa di tampilkan